<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Role</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<table>
  <tr>
    <th>RoleId</th>
    <th>RoleName</th>
    <th>Actions</th>
  </tr>
  <th:block th:each="role : ${roleList}">
    <tr>
      <td th:text="${role.roleId}"></td>
      <td th:text="${role.roleName}"></td>
      <td>
        <a th:href="@{|/edit/${role.roleId}|}" class="btn">Edit</a>
        <a th:href="@{|/delete/${role.roleId}|}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
  </th:block>
</table>
<a href="/create">Add new role</a>
</body>
</html>