<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Role</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1>Create New Role</h1>
    <form method="post" action="#" th:action="@{/addrole}" th:object="${newRole}">
        <!-- CSRF Token -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" th:field="*{roleId}" />
        
        <div>
            <label for="roleName">Role Name:</label>
            <input 
                type="text"   
                id="roleName"   
                th:field="*{roleName}" 
                minlength="3" 
                maxlength="15" 
                required 
                placeholder="RoleName" 
                pattern="[a-zA-Z0-9]*" 
                title="Rolename must contain only letters and numbers." 
            />
            
            <!-- Error message for roleName -->
            <span th:if="${#fields.hasErrors('roleName')}" style="color: red;" th:errors="*{roleName}"></span>
        </div>
        
        <input type="submit" value="Save">
    </form>
</body>
</html>